
.nav-link{
  color: white;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    text-decoration: none !important;
}
.navbar-dark .navbar-nav .nav-link {
    color:#ffffffc0;
}
.nav-style:hover{
    color: cyan;
}

.footer-icon-link {
    display: inline-block;
    margin-right: 15px;
    font-size: 1.6rem;
    color: #00ffff;
    transition: transform 0.3s ease, color 0.3s ease;
  }

  .footer-icon-link:hover {
    color: #00cccc;
    transform: scale(1.2);
  }


  .footer-metallic-text {
    font-size: 1rem;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    background: linear-gradient(90deg, #e6e6e6, #ffffff, #dcdcdc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    letter-spacing: 0.5px;
    display: inline-block;
}

/* Apply to make the layout full height */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: black;
}

main {
  flex: 1; /* This makes sure main content takes up the remaining space */
}

/* Optional: Add styling for footer to always appear at bottom */
footer {
  padding: 20px 0;
  background-color: #111;
  border-top: 1px solid cyan;
}
